.filter-holder{
    background-color: black;
    color: white;
    height: 25px;
    justify-content: right;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 970px;
    margin-right: 10px;
    border-radius: 8px;
    
}